<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <link rel="manifest" href='/manifest.json'>
    <link rel="shortcut icon" href="/favicons/favicon.ico">

    <meta
      name="description"
      content="Select a random Bible chapter to read in any English translation. If you're not sure what to read today, start here!"
    />

    <title>Random Bibleizer - Choose a Random Bible Chapter to Read</title>
  </head>

  <body>
    <noscript>
      <p>If you see this message, it means you've disabled scripts on your browser (either you have JavaScript turned off, or maybe you're using AdBlock Plus / uBlock Origin). Please enable scripts for this site to run.</p>
    </noscript>

    <div id="app">
      <v-app>
        <v-navigation-drawer app v-model="showDrawer" class="d-sm-none" disable-resize-watcher>
          <v-list-item>
            <v-btn text href="mailto:hello@spiffy.tech?subject=%5BRandom%20Bibleizer%5D">Contact Me</v-btn>
          </v-list-item>
          <v-list-item>
            <v-btn text href="https://github.com/spiffytech/random_bibleizer"
              >Source Code</v-btn
            >
          </v-list-item>
        </v-navigation-drawer>

        <v-app-bar app>
          <v-app-bar-nav-icon @click.stop="showDrawer = !showDrawer" class="d-sm-none"></v-app-bar-nav-icon>
          <v-toolbar-title>Random Bibleizer</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn text href="mailto:hello@spiffy.tech" class="d-none d-sm-flex">Contact Me</v-btn>
          <v-btn text href="https://github.com/spiffytech/random_bibleizer" class="d-none d-sm-flex"
            >Source Code</v-btn
          >
        </v-app-bar>

        <v-main>
          <v-container>
            <v-row justify="center" class="my-4">
              <div v-if="displayedChapter" class="display-1">
                {{displayedChapter.book.human}} {{displayedChapter.chapter}}
              </div>
            </v-row>

            <v-row justify="center" class="my-4">
              <v-btn
                @click="toggleSpinState"
                :color="paused ? null : 'primary'"
                >{{ paused ? "Randomize" : "Select book & chapter" }}</v-btn
              >
            </v-row>

            <v-row justify="center" class="my-4">
              <v-col cols="12" md="6">
                <v-radio-group v-model="weightBooksEvenly" :default="true">
                  <v-radio label="Choose random book, then random chapter from book" :value="true"></v-radio>
                  <v-radio
                    label="Randomly choose from all Bible chapters at once (Psalms comes up a lot)"
                    :value="false"
                  ></v-radio>
                </v-radio-group>
                <v-checkbox
                  v-model="openInBibleAppAuotmatically"
                  :label="`Open in Bible app automatically`"
                ></v-checkbox>
              </v-col>

              <v-col cols="12" md="6">
                <div style="display: contents;">
                  <v-select
                    :items="translations"
                    label="Remember translation"
                    v-model="selectedTranslation"
                    v-if="canUseLocalstorage"
                  />
                </div>

                <div style="display: contents;">
                  <v-select
                    :items="subsets"
                    label="What to randomize?"
                    v-model="contentSubset"
                  />
                </div>
                <v-btn :disabled="!paused" class="openBibleApp" @click="openBibleApp" :color="'primary'">Open in Bible app</v-btn>
              </v-col>
            </v-row>

            <hr />

            <v-row justify="center">
              <v-skeleton-loader v-if="iframeLoading" type="paragraph" class="my-4" width="300px"></v-skeleton-loader>
            </v-row>

            <v-row justify="center">
              <iframe
                ref="bible.com"
                v-if="paused"
                :src="getIframeSrc()"
                frameborder="0"
                style="width: 100%; height: 10000px;"
                @load="iframeLoaded"
              ></iframe>
            </v-row>
          </v-container>
        </v-content>
      </v-app>
    </div>

    <script
      src="https://browser.sentry-cdn.com/5.11.1/bundle.min.js"
      integrity="sha384-r7/ZcDRYpWjCNXLUKk3iuyyyEcDJ+o+3M5CqXP5GUGODYbolXewNHAZLYSJ3ZHcV"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>

    <script src="data.js"></script>

    <script>
      try {
        Sentry.init({
          dsn: "https://c722dae329914eada81cc7407fa43d71@sentry.io/1955363"
        });
      } catch (ex) {
        // User is using a tracker blocker
      }

      // Disabled on Mobile Safari with "block all cookies" enabled
      let canUseLocalstorage = true;
      try {
        localStorage.getItem('bogus');
      } catch (ex) {
        canUseLocalstorage = false;
      }
      function localstorageTryGet(key) {
        if (canUseLocalstorage) {
          return localStorage.getItem(key);
        }
        return null;
      }
      function localstorageTrySet(key, value) {
        if (canUseLocalstorage) {
          return localStorage.setItem(key, value);
        }
      }

      function chooseRandomBookAndChapterByBook(books) {
        var book_index = Math.floor(Math.random() * books.length);
        var chapter = Math.ceil(
          Math.random() * books[book_index]["chapters"]
        );

        return { book: books[book_index], chapter };
      }

      function chooseRandomBookAndChapterByChapter(books) {
        const chapters = [];
        books.forEach(book => {
          for (i = 0; i < book.chapters; i++) {
            chapters.push({ book, chapter: i + 1 });
          }
        });

        return chapters[Math.floor(Math.random() * chapters.length)];
      }

      function getBibleAppURL(selectedTranslation, displayedChapter) {
        const translation = window.translations.find(
          translation =>
            translation.local_abbreviation === selectedTranslation
        );
        return (
          "https://www.bible.com/bible/" +
          translation.id +
          "/" +
          displayedChapter.book.usfm +
          "." +
          displayedChapter.chapter +
          "." +
          translation.local_abbreviation.toLowerCase()
        );
      }

      const lsWeights = localstorageTryGet('weightBooksEvenly');
      const lsOpenAuto = localstorageTryGet('openInBibleAppAuotmatically') === 'true';
      const subsets = [
        {text: "Whole Bible", value: [0,66]},
        {text: "Old Testament", value: [0,39]},
        {text: "New Testament", value: [39,66]},
        {text: "Psalms and Proverbs", value: [18,20]}
      ];

      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: {
          showDrawer: false,
          selectedTranslation: localstorageTryGet("savedTranslation") || "GW",
          translations: window.translations.map(translation => ({
            text: translation.local_title,
            value: translation.local_abbreviation
          })),
          displayedChapter: null,
          paused: false,
          openInBibleAppAuotmatically: lsOpenAuto,
          weightBooksEvenly: lsWeights ? JSON.parse(lsWeights) : true,
          contentSubset: subsets[0].value,
          iframeLoading: false,
          canUseLocalstorage,
          frameCount: 0,
          subsets
        },
        methods: {
          getIframeSrc() {
            return getBibleAppURL(this.selectedTranslation, this.displayedChapter);
          },

          toggleSpinState() {
            this.paused = !this.paused;
            this.iframeLoading = this.paused;

            if (this.paused && this.openInBibleAppAuotmatically) {
              window.open(getBibleAppURL(this.selectedTranslation, this.displayedChapter), '_blank');
            }
          },

          openBibleApp() {
            window.open(getBibleAppURL(this.selectedTranslation, this.displayedChapter), '_blank');
          },

          iframeLoaded() {
            this.iframeLoading = false;
            // this.$refs["bible.com"].scrollIntoView({block: "start", inline: "nearest", behavior: "smooth"});
          }
        },
        mounted() {
          const animationFrameCallback = () => {
            if (!this.paused) {
              this.frameCount += 1;
              const fn = this.weightBooksEvenly
                ? chooseRandomBookAndChapterByBook
                : chooseRandomBookAndChapterByChapter;
              if (this.frameCount % 5 === 0) {  // Every 5 frames
                this.displayedChapter = fn(window.books.slice(this.contentSubset[0], this.contentSubset[1]));
              }
            }
            requestAnimationFrame(animationFrameCallback);
          };
          requestAnimationFrame(animationFrameCallback);
        },
        watch: {
          selectedTranslation(newValue) {
            localstorageTrySet("savedTranslation", newValue);
          },

          weightBooksEvenly(newValue) {
            localstorageTrySet("weightBooksEvenly", newValue);
          },

          openInBibleAppAuotmatically(newValue) {
            localstorageTrySet("openInBibleAppAuotmatically", newValue);
          }
        }
      });
    </script>

    <script>
      (function() {
        window.counter = "https://randombibleizer.goatcounter.com/count";

        var script = document.createElement("script");
        script.async = 1;
        script.src = "//gc.zgo.at/count.js";
        var ins = document.getElementsByTagName("script")[0];
        ins.parentNode.insertBefore(script, ins);
      })();
    </script>
  </body>
</html>
